<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-sm-12 dev">
      <div class="row body">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="row middle justify-content-center">
                <ng-container *ngFor="let item of wavRefs; let i = index" >
                  <div class="col-2">
                    <div class="row justify-content-center">
                      <div (click)="playBeat(i)" class="btn-quad" [ngClass]="{'shadow-inset-center': checkIsPlaying(i)}" >
                        <p>{{ i + 1 }}</p>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div (click)="pauseBeat(i)" class="btn-quad-stop" [ngClass]="{'shadow-inset-center': checkIsPlaying(i)}" >
                        <span *ngIf="isPause(i)">stop</span>
                        <span *ngIf="!isPause(i)">play</span>
                      </div>
                     </div>

                  </div>
                </ng-container>
              </div>
              <div class="row bottom">
                <div (click)="stopAllBeats()" class="btn-bot">
                  <p>STOP ALL</p>
                </div>
                <div class="painel">
                  <div *ngFor="let item of myBeats" class="wave" [id]="item?.name">
                  </div>
                </div>
                <div (click)="playRandom()" class="btn-bot">
                  <p>PLAY RANDOM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-slider vertical="false" thumbLabel [displayWith]="formatLabel" [max]="maxVolume" [min]="minVolume"
                [step]="stepWav" aria-label="units" [(ngModel)]="wavVolume" (input)="controlVolume($event)">
              </mat-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center dj">
    <div class="col-sm-9">
      <h2 class="big-title">QUEM SOU</h2>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Resumo">
          <div class="body">
            <p>Opa, sou Bruno Monteiro :)</p>
            <p>
              Atualmente sou desenvolvedor Front-end na Enuves Technologies.
            </p>
            <p>
              De São Luis/MA, Graduado em Produção Multimidias pelo IFSC e meu
              hobby é ser Dj e Produtor de musica eletrônica cristã nas horas
              vagas.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Formação academica">
          <div class="body">
            <h2>GRADUADO EM TECNÓLOGO EM PRODUÇÃO MULTIMÍDIA. (2018 - 2021)</h2>
            <p>
              Instituição: Instituto Federal de Santa Catarina, Campus Palhoça
              Bilingue, SC
            </p>
            <p>Foco: Mercado Multimídia/Tecnologia</p>
            <ul>
              <li>Desenvolvimento Web e Mobile</li>
              <li>Design</li>
              <li>AudioVisual</li>
              <li>Marketing Digital</li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Tecnologias que trabalho">
          <div class="body">
            <p>Atualmente dedicado a tecnologias para web, como:</p>
            <ul>
              <li>
                Angular 2+, Ionic, NGRX, Testes Unitários, Node.js, Typescript,
                GIT, Docker...
              </li>
              <li>E o que precisar para resolver problemas.</li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Experiências Profissionas">
          <div class="body">
            <h2>DESENVOLVEDOR FRONT-END (+1 ano ... Atualmente)</h2>
            <p>Empresa: Enuves Technologies</p>
            <p>O que faço:</p>
            <ul>
              <li>
                DESENVOLVIMENTO WEB/MOBILE (STACK ANGULAR / IONIC)
                <ul>
                  <li>Levantamento de requisitos</li>
                  <li>Prototipação</li>
                  <li>Implementação de layouts</li>
                  <li>Integração a APIs</li>
                  <li>Testes Unitários</li>
                  <li>Deploy</li>
                </ul>
              </li>
            </ul>

            <h2>ESTAGIÁRIO FRONT-END(-1 ano / STACK ANGULAR)</h2>
            <p>Empresa: Conexão Solar</p>
            <p>O que fiz:</p>
            <ul>
              <li>Implementação de layouts</li>
              <li>Integração a APIs</li>
            </ul>

            <h2>TRAINEE - DESENVOLVEDOR WORDPRESS (+1 ano )</h2>
            <p>Empresa: iDEV empresa Junior</p>
            <p>O que fiz:</p>
            <ul>
              <li>Desenvolvimento de sites em Wordpress</li>
            </ul>

            <h2>ESTAGIÁRIO DE MÍDIAS (-1 ano )</h2>
            <p>Empresa: Delinea Tecnologia Educacional</p>
            <p>O que fiz:</p>
            <ul>
              <li>
                Diagramação de matériais didáticos utilizando HTML , CSS e JS
              </li>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
      <button (click)="utilsService.openLink('https://drive.google.com/file/d/1k1BtVer6qx4ve13_9bzp6LOR8IOCyAQi/view?usp=share_link')" mat-raised-button class="m-3" color="warn">Dowload CV</button>
    </div>
    <div class="col-sm-3 img-profile">
      <img src="../../../assets/images/djbrunomonteiro-perfil.jpg" alt="" />
    </div>
  </div>

  <!-- <div class="row d-flex align-items-center ">

    <div class="col-sm-12 body">
      <h2 class="big-title">COMPARTILHANDO O QUE ESTOU APRENDENDO</h2>
      <div class="row">
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>


    </div>


  </div> -->

  <div class="row d-flex align-items-center">
    <div class="col-sm-12 body">
      <h2 class="big-title">Alguns Projetos #Dev</h2>
      <div class="row">
        <div class="my-2 col-sm-3">
          <mat-card>
            <img mat-card-image src="../../../assets/images/projetcts/reds-bilingue-libras-ifsc.png" />
            <mat-card-content>
              <h3>REDs Bilíngue</h3>
              <p>
                Projeto SPA desenvolvido em parceria com iDev Empresa Jr de SC.
              </p>
              <p>#Angular #Bootstrap</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="utilsService.openLink('https://github.com/djbrunomonteiro/reds')">GIT</button>
              <button mat-button (click)="utilsService.openLink('https://palhoca.ifsc.edu.br/reds')">VISUALIZAR</button>
            </mat-card-actions>
            
          </mat-card>
        </div>

        <div class="my-2 col-sm-3">
          <mat-card>
            <img mat-card-image src="../../../assets/images/projetcts/jogo-bilingue-libras-ifsc.png" />
            <mat-card-content>
              <h3>Jogo Enseada Libras</h3>
              <p>Desenvolvido com parceria projeto de extensão IFSC-Palhoça.</p>
              <p>#Unity C#</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="utilsService.openLink('https://github.com/djbrunomonteiro?tab=repositories')">GIT</button>
              <button mat-button (click)="utilsService.openLink('https://palhoca.ifsc.edu.br/materiais/cstpm/projetos/jogo-enseada/')">VISUALIZAR</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="my-2 col-sm-3">
          <mat-card>
            <img mat-card-image src="../../../assets/images/projetcts/codrastico.png" />
            <mat-card-content>
              <h3>JOGO CODrastico</h3>
              <p>Jogo de quiz temático sobre HTML E CSS.</p>
              <p>#Unity C#</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="utilsService.openLink('https://github.com/djbrunomonteiro/CODrastico')">GIT</button>
              <button mat-button (click)="utilsService.openLink('https://palhoca.ifsc.edu.br/materiais/cstpm/PMB520202/codrastico/')">VISUALIZAR</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="my-2 col-sm-3">
          <mat-card>
            <img mat-card-image src="../../../assets/images/projetcts/npmbr-search.png" />
            <mat-card-content>
              <h3>NPMBR SEARCH</h3>
              <p>Consulta de pacotes Npm Brasileiros.</p>
              <p>#Angular #Heroku</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="utilsService.openLink('https://github.com/djbrunomonteiro/pesquisamodulosnpm')">GIT</button>
              <button mat-button>VISUALIZAR</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="m-3 row">
        <h2 class="big-title">Videos</h2>
        <div class="col">
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/13XzM0Aps1g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/YmbLRSN0kNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="m-3 row">
        <h2 class="big-title">+ MUSICAS</h2>
        <div class="col">
          <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/2968286&amp;color=%232400ff&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
        </div>
      </div>
    </div>
  </div>

</div>
