
.dev{
    background-color: #131b20;
    min-height: 100%;
    border-radius: 0px 0px 0px 0px;
    .body{
        .mat-slider{
            width: 100%;
            color: #454B4F;
        }

        .btn-vol{
            width: 40%;
            height: 100%;
            background-color: rgb(0, 108, 158);
            padding-top: 20px;
            padding-bottom: 20px;

        }
        .top{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .btn-sup{
                width: 150px;
                height: 150px;
                margin: 20px;
                border-radius: 50%;
                background: rgb(63,105,251);
                background: radial-gradient(circle, rgba(63,105,251,1) 0%, rgba(38,33,110,1) 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    padding: 5px;
                    font-size: 2rem;
                    color: white;
                    text-align: center;
                    line-height: 1.6rem
                }
            }
    
        }
        .middle{
            .btn-quad{
                width: 170px;
                height: 170px;
                border-radius: 10%;
                border: 2px solid rgb(240, 240, 240);
                background: rgb(63,177,251);
                background: radial-gradient(circle, rgba(63,177,251,1) 0%, rgba(33,58,110,1) 100%);
                margin: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                p{
                    padding: 0px;
                    font-size: 2rem;
                    color: rgb(9, 4, 20);
                }
            }
            .btn-quad:hover{
                cursor: pointer;
            }
            .btn-quad-stop{
                width: 170px;
                height: 30px;
                background: rgb(63,177,251);
                background: radial-gradient(circle, rgba(63,177,251,1) 0%, rgba(33,58,110,1) 100%);
                margin: 20px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 0.8rem;
                    color: rgb(9, 4, 20);
                }
            }
            .btn-quad-stop:hover{
                cursor: pointer;
            }
            .prev{
                background: rgb(203,88,255);
                background: radial-gradient(circle, rgba(203,88,255,1) 4%, rgba(130,0,189,1) 100%);
                p {
                    font-size: 2.8rem;
                    color: rgb(0, 0, 0);
                }
            }
            .next{
                background: rgb(203,88,255);
                background: radial-gradient(circle, rgba(203,88,255,1) 4%, rgba(130,0,189,1) 100%);
                p {
                    font-size: 2.8rem;
                    color: rgb(0, 0, 0);
                }
            }
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .painel{
                width: 60%;
                height: 170px;
                margin: 0px;
                border-radius: 0px;
                background-color: #2f302f;
                border: 2px solid rgb(187, 187, 187);
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    padding: 0px;
                    font-size: 2rem;
                    color: rgb(9, 4, 20);
                }
            }
            .btn-bot{
                width: 170px;
                height: 170px;
                border-radius: 10%;
                // background-color: #85ea01;
                background: rgb(63,251,113);
                background: radial-gradient(circle, rgba(63,251,113,1) 0%, rgba(36,110,33,1) 100%);
                margin: 20px;
                border: 2px solid rgb(240, 240, 240);
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    padding: 0px;
                    font-size:1.2rem;
                    color: rgb(9, 4, 20);
                    text-align: center;
                    
                }
            }
        }
    }
}
.dj{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #131b20;
    height: 100%;
    color: rgb(255, 255, 255);
    .body{
        padding: 20px;

    }
    .img-profile{
        
        img{
            width: 100%;
            filter: contrast(150%);
            border-radius: 55px 0px;
            border: solid 2px rgb(151, 151, 151);
        }
        // border-radius: 10%;
        padding: 0px;
        margin: 0px;
    }
}

.big-title{
    // border-top: 2px solid;
    margin-top: 25px;
    padding: 25px;
    font-size: 2rem;
    // text-align: center;
}

.container-iframe{
    width: 100%;
    height: 600px;
}

mat-card{
    img{
        height: 200px;
    }
}

.painel{
    position: relative;
    .wave{
        color: lavender;
        width: 100%;
        height: 70%;
        position: absolute;
        top: 10px;
    }
}

.shadow-inset-center {
	-webkit-animation: shadow-inset-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  infinite both;
	        animation: shadow-inset-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
 @-webkit-keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }

  @media  (max-width: 1450px) {
    .dev{
        .body{
            .top{
                display: flex;
                align-items: center;
                justify-content: space-around;
        
            }
            .middle{
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                .btn-quad{
                    // border-radius: 10%;
                    background: rgb(63,177,251);
                    background: radial-gradient(circle, rgba(63,177,251,1) 0%, rgba(33,58,110,1) 100%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        padding: 0px;
                        font-size: 2rem;
                        color: rgb(9, 4, 20);
                    }
                }
                .prev{
                    background: rgb(203,88,255);
                    background: radial-gradient(circle, rgba(203,88,255,1) 4%, rgba(130,0,189,1) 100%);
                    p {
                        font-size: 2.8rem;
                        color: rgb(0, 0, 0);
                    }
                }
                .next{
                    background: rgb(203,88,255);
                    background: radial-gradient(circle, rgba(203,88,255,1) 4%, rgba(130,0,189,1) 100%);
                    p {
                        font-size: 2.8rem;
                        color: rgb(0, 0, 0);
                    }
                }
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .painel{
                    width: 60%;
                    height: 170px;
                    margin: 0px;
                    border-radius: 0px;
                    background-color: #2f302f;
                    border: 2px solid rgb(187, 187, 187);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        padding: 0px;
                        font-size: 2rem;
                        color: rgb(9, 4, 20);
                    }
                }
                .btn-bot{
                    width: 170px;
                    height: 170px;
                    border-radius: 10%;
                    // background-color: #85ea01;
                    background: rgb(63,251,113);
                    background: radial-gradient(circle, rgba(63,251,113,1) 0%, rgba(36,110,33,1) 100%);
                    margin: 20px;
                    border: 2px solid rgb(240, 240, 240);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        padding: 0px;
                        font-size: 2rem;
                        color: rgb(9, 4, 20);
                    }
                }
            }
        }
    }
    
}

@media  (max-width: 970px) {
    .dev{
        .body{
            .middle{
                .col-2{
                    margin: 0px 10px;
                    padding: 5px;
                }
                .btn-quad{
                    width: 100px;
                    height: 100px;
                    border-radius: 10%;
                    p{
                        padding: 0px;
                        font-size: 1.2rem;
                        color: rgb(9, 4, 20);
                    }
                }
                .btn-quad:hover{
                    cursor: pointer;
                }
                .btn-quad-stop{
                    width: 100px;
                    height: 30px;
                }
                .btn-quad-stop:hover{
                    cursor: pointer;
                }
                .prev{
                    background: rgb(203,88,255);
                    background: radial-gradient(circle, rgba(203,88,255,1) 4%, rgba(130,0,189,1) 100%);
                    p {
                        font-size: 2.8rem;
                        color: rgb(0, 0, 0);
                    }
                }
                .next{
                    background: rgb(203,88,255);
                    background: radial-gradient(circle, rgba(203,88,255,1) 4%, rgba(130,0,189,1) 100%);
                    p {
                        font-size: 2.8rem;
                        color: rgb(0, 0, 0);
                    }
                }
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .painel{
                    width: 50%;
                    height: 100px;
                    margin: 0px;
                    border-radius: 0px;
                    background-color: #2f302f;
                    border: 2px solid rgb(187, 187, 187);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .btn-bot{
                    width: 70px;
                    height: 70px;
                    border-radius: 10%;
                    // background-color: #85ea01;
                    background: rgb(63,251,113);
                    background: radial-gradient(circle, rgba(63,251,113,1) 0%, rgba(36,110,33,1) 100%);
                    margin: 0px;
                    border: 2px solid rgb(240, 240, 240);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size:0.6rem;
                    p{
                        padding: 0px;
                        font-size:0.6rem;
                        color: rgb(9, 4, 20);
                        text-align: center;
                        vertical-align: middle;
                        line-height: 0.5rem;

                        
                    }

                }
            }
        }
    }

    .painel{
        position: relative;
        overflow:hidden;
        .wave{
            
            color: lavender;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -10px;
        }
    }

    
}
  