<mat-toolbar class="header-container">
  <a class="" mat-button routerLink="/">
    <h1 class="txt-small">Bruno Monteiro | DevJr</h1>
  </a>
  <nav class="menu-desktop">
    <a mat-button routerLink="/"><i class="bi bi-person-bounding-box"></i>Profile</a>
    <!-- <a mat-button routerLink="/"><i class="bi bi-git"></i> Blog Dev</a> -->
    <a mat-button (click)="utilsService.openLink('https://djbrunomonteiro.blogspot.com/')"><i class="bi bi-earbuds"></i> Blog Musicas</a>
    <a mat-button (click)="utilsService.openLink('https://github.com/djbrunomonteiro?tab=repositories')"><i class="bi bi-bezier"></i> Projetos GIT</a>
  </nav>
  <nav class="menu-mobile">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span><i class="bi bi-person-bounding-box mx-2"></i> Profile</span>
      </button>
      <!-- <button mat-menu-item>
        
        <span><i class="bi bi-git mx-2"></i> Blog Dev</span>
      </button> -->
      <button mat-menu-item (click)="utilsService.openLink('https://djbrunomonteiro.blogspot.com/')">
        <span><i class="bi bi-earbuds mx-2"></i> Blog Musicas</span>
      </button>
      <button mat-menu-item (click)="utilsService.openLink('https://github.com/djbrunomonteiro?tab=repositories')">       
        <span><i class="bi bi-bezier mx-2"></i>  Projetos GIT</span>
      </button>
    </mat-menu>
  </nav>
</mat-toolbar>


