.app-container{
    width: 100%;
    background-color: #131b20;
    color: white;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
    justify-content: space-between;
    .header-container{
        width: 100%;
    }
    .main-container{
        
        width: 100%;
        min-height: 50%;
    }
    
    .footer-container{
        
        width: 100%;
        // min-height: 10%;
    }
}