/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body { margin: 0; font-family: 'Baloo 2', "Helvetica Neue", sans-serif; }
